<h1>Rotten Mangoes</h1>
<%= link_to "Submit a movie!", new_movie_path %>
<hr>
<%= form_tag(movies_path, method: "get") do %>
  <%= label_tag(:title, "Movie title:") %>
  <%= text_field_tag(:title) %>
  <%= label_tag(:director, "Director:") %>
  <%= text_field_tag(:director) %>
  <%= select_tag(:runtime_in_minutes, options_for_select(["Under 90 minutes", "Between 90 and 120 minutes", "Over 120 minutes"])) %>
  <%= submit_tag("Search") %>
<% end %>
<hr>
<% @movies.each do |movie| %>
  <!--%= link_to image_tag(movie.poster_image_url), movie_path(movie) %-->
  <%= image_tag movie.poster.url %>
  <h2><%= link_to movie.title, movie_path(movie) %></h2>
  <h3><%= formatted_date(movie.release_date) %>
  <h4>Director <%= movie.director %> | <%= movie.runtime_in_minutes %>minutes</h4>
  <p><%= movie.description %></p>
  <%= movie.review_average %>/10

  <hr>
<% end %>